.navbar-menu {
    position: fixed;
    top: 0;
    display: flex;
    padding: 5px 0;
    width: 100%;
    background-color: rgba(247, 230, 174, 0.5);
    z-index: 10;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 10px;
    z-index: 10;
}

.logo {
    width: 60px;
    height: 60px;
}

.logo>img {
    width: 100%;
    object-fit: cover;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#table-number {
    font-size: 1.5em;
    font-weight: 600;
}

.login-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    position: relative;
}


.login-btn:hover {
    color: rgb(214, 129, 2);
}

.bi-receipt-cutoff {
    cursor: pointer;
}