.product-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: 1px solid rgba(54, 27, 18, 1);
    padding-bottom: 10px;
}

.button-cotainer {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button-cotainer.active {
    display: block;
}