.shopcart-button {
    background-color: rgba(54, 27, 18, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px;
    display: none;
    cursor: pointer;
}

.shopcart-button.active {
    display: block;
}

.button-text {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}