* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
}

.page-wrapper {
    display: flex;
    overflow: hidden;
}

@media only screen and (max-width: 450px) {
    body {
        position: relative;
        top: 120px;
        overflow: hidden;
    }
}